<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="currentday" value="20200410"/>
    <add key="EDNo" value="0"/>
    <add key="MessageName" value="10836708462"/>
    <add key="MessageIDED501" value="0"/>
    <add key="MessageIDED501_full" value="00000"/>
    <add key="UIS" value="4525000010"/>
    <add key="datasource" value="194.58.70.79"/>
    <add key="database" value="ps_bankrussia_test" />
    <add key="username" value="abrtest"/>
    <add key="password" value="xX123456" />
  </appSettings>
</configuration>