<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="currentday" value="2018-07-02" />
    <add key="EDNo" value="1" />
    <add key="datasource" value="194.58.70.79"/>
    <add key="database" value="ps_bankrussia" />
    <add key="username" value="adminkbr"/>
    <add key="password" value="P@ssw0rd" />
  </appSettings>
</configuration>